:root {
  --text: #d3b9d5;
  --background: #110f13;
  --primary: #4f0656;
  --secondary: #630e70;
  --accent: #7c99e9;
}

body {
  max-width: 650px;
  margin: 40px auto;
  padding: 0 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: var(--text);
  background-color: var(--background);
}

h1,
h2,
h3 {
  line-height: 1.2;
}

a:link {
  color: var(--accent)
}

a:visited {
  color: var(--accent)
}


.nav {}

.nav li {
  color: #ffffff
}

.h-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#actualcontent {
  max-width: 550px;
  /*background-color: aliceblue;*/
  margin: auto;
}

#dance {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-list li {
  margin: 0;
  padding: 0;
}

.post-desc {
  padding-left: 1rem;
}

.sep {
  margin: 0 0.5rem;
}

.shelf {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shelfitem {
  display: inline-block;
  padding: 10px;
}
