---
import Base from "../layouts/Base.astro";
const pageTitle = "Bookmarks"
---
<Base pageTitle={pageTitle}>
    <div slot="below-title">Lorem Ipsum</div>
    <div slot="below-break">Lorem Ipsum</div>
</Base>