---
import Base from "../layouts/Base.astro"
import Edme from "../components/Edme.astro"
const pageTitle = "Edme’s Hut"
---
<Base pageTitle={pageTitle}>
	<p slot="below-title">
  My corner of the <a href="https://indieweb.org/" target="_blank">IndieWeb</a>! <br>
  <br>
	</p>
  <div slot="below-break">
    <p>Hey! I'm Edme, a Cybersecurity student studying at TafeQLD.</p>
    <br>
    <p>You have entered my website! Stay tuned :D</p>
  </div>
</Base>
