---
import Base from "../layouts/Base.astro"
import Edme from "../components/Edme.astro"
const pageTitle = "Edme’s Hut"
---
<Base pageTitle={pageTitle}>
	<!-- <Edme dim=41 slot="title-edme"/>-->
	<p slot="below-title">
		My corner of the
		<a href="https://indieweb.org/" target="_blank">IndieWeb</a>.
		I haven’t written a damned thing yet!<br>But we’re here :D
	</p>
	<div slot="below-break">bwaaa</div>
</Base>