---
import Base from "../layouts/Base.astro"
import UnitProgressItem from "../components/UnitProgressItem.astro"
import { getCollection } from 'astro:content'
import study from '../data/study.json'
const pageTitle = "Edme’s Study Progress"
---
<Base pageTitle={pageTitle}>
	<p slot="below-title">
  Learning progress in the courses I'm taking :D
	</p>
  <br>
  <br>
  <div slot="below-break">
    {
      study.map(course => (
        <section>
          <h2>{course.course}</h2>
          {course.units.map( unit =>(
          <UnitProgressItem
            unitTitle={unit.title}
            progressPercentage={unit.progressPercentage}
          />
          ))}
        </section>
      ))
    }
  </div>
</Base>
