---
---
<header>
    <nav class="shelf">
        <li class="shelfitem"><a href="/">Home</a></li>
        <li class="shelfitem"><a href="/posts/">Posts</a></li>
        <li class="shelfitem"><a href="/study/">Study</a></li>
        <li class="shelfitem"><a href="/portfolio/">Portfolio</a></li>
    </nav>
</header>
