---
---
<header>
    <nav class="shelf">
        <li class="shelfitem"><a href="/">Home</a></li>
        <li class="shelfitem"><a href="/articles/">Articles</a></li>
        <!--
        <li class="shelfitem"><a href="/notes/">Notes</a></li>
        <li class="shelfitem"><a href="/bookmarks">Bookmarks</a></li>
        <li class="shelfitem"><a href="/certs/">Certs</a></li>
        <li class="shelfitem"><a href="/about/">About</a></li>
        -->
    </nav>
</header>
