---
---
<header>
    <nav class="poetry">
        <li class="poem"><a href="/">Home</a></li>
        <li class="poem"><a href="/articles/">Articles</a></li>
        <li class="poem"><a href="/notes/">Notes</a></li>
        <li class="poem"><a href="/bookmarks">Bookmarks</a></li>
        <li class="poem"><a href="/certs/">Certs</a></li>
        <li class="poem"><a href="/about/">About</a></li>
    </nav>
</header>