---
const { title } = Astro.props;
const { description } = Astro.props;
const { pubDate } = Astro.props;
const { tags } = Astro.props;
const { url } = Astro.props;

const newDate = new Date(pubDate).toISOString().slice(0, 10)
---
<div>
  <div>
    <h2><a href={url}>{title}</a></h2><p>{ newDate }</p>
  </div>
  <p>{ description }</p>
    <p>{ tags }</p>
</div>
