---
const title = Astro.props;
const description = Astro.props;
const pubDate = Astro.props;
const tags = Astro.props;
---
<div>
    <p>{ title }</p>
    <p>{ description }</p>
    <p>{ pubDate }</p>
    <p>{ tags }</p>
</div>