---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro';
import Social from '../components/Social.astro';
import MainTop from '../components/MainTop.astro';
import '../styles/global.css';
const { pageTitle, li1, li2, li3, p0 } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{pageTitle}</title>
</head>
<body>
    <Header />
    <main>
        <div>
            <h1>{pageTitle}</h1>
        </div>
        <slot name="below-title" />
        <hr>
        <div id="actualcontent">
            <slot name="below-break"/> 
        </div>
    </main>
    <Footer />
</body>
</html>
